<div class="layout" [class.mobile]="isMobile">
    <aside class="sidebar flex flex-col h-screen" [class.collapsed]="isMobile">
        <p-panel-menu [model]="sideItems" styleClass="sidebar-menu"></p-panel-menu>

        <div class="sidebar-footer" [class.collapsed]="isMobile">

        <!-- Full post button (desktop) -->

        <button
            *ngIf="!isMobile"
            pButton
            type="button"
            label="{{ 'Post' | localize }}"
            icon="pi pi-plus"
            class="w-full btn-primary rounded-md py-3 text-lg font-semibold"
            (click)="openPostModal()"
        ></button>

        <!-- Icon-only post button (mobile) -->
        <button
            *ngIf="isMobile"
            pButton
            type="button"
            icon="pi pi-plus"
            class="btn-primary post-btn-mobile"
            (click)="openPostModal()"
        ></button>

        <div
            class="user-section flex items-center cursor-pointer p-3 hover:bg-gray-800 rounded-xl transition-colors"
            [class.justify-between]="!isMobile"
            [class.justify-center]="isMobile"
            (click)="userMenu.toggle($event)"
        >
            <div class="flex items-center">
                <img
                    class="rounded-full object-cover"
                    [class.w-14]="!isMobile" [class.h-14]="!isMobile"
                    [class.w-10]="isMobile"  [class.h-10]="isMobile"
                    [src]="getLogoSrc(userProfilePicture)"
                    alt="User logo"
                />
                <span *ngIf="!isMobile" class="ml-3 text-white font-semibold text-lg">{{ userName }}</span>
            </div>
            <i *ngIf="!isMobile" class="pi pi-ellipsis-v text-gray-400 mr-1 text-lg"></i>
        </div>
        </div>
    </aside>


    <main class="content">
        <router-outlet></router-outlet>
    </main>

    <p-menu #userMenu [popup]="true" [model]="userMenuItems"></p-menu>

    <p-dialog
        header="New Publication"
        [(visible)]="displayPostModal"
        [modal]="true"
        [closable]="false"
        [style]="{ width: '80vw', maxWidth: '600px' }"
        [contentStyle]="{
        padding: '1rem',
        display: 'flex',
        flexDirection: 'column',
        alignItems: 'stretch'
        }"
    >
        <app-create-or-edit-publication
        (saved)="onPostSaved($event)"
        (cancelled)="displayPostModal = false"
        ></app-create-or-edit-publication>
    </p-dialog>
</div>