.layout {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.layout::after {
    content: "";
    width: 280px;
    flex-shrink: 0;
}

.sidebar {
    width: 280px;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

::ng-deep .sidebar-menu .p-panelmenu .p-panelmenu-header-action,
::ng-deep .sidebar-menu .p-panelmenu .p-menuitem-link {
    font-size: 1.125rem;
    padding: 1.25rem 1.5rem;
}

::ng-deep .sidebar-menu .p-panelmenu .p-menuitem-icon {
    font-size: 1.25rem;
}

::ng-deep .sidebar-menu .p-panelmenu .p-panelmenu-content {
    padding: 0;
}

.content {
    flex: 1;
    max-width: 800px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    min-height: 100vh;
}

.sidebar-menu {
    flex: 1 1 auto;
}

.sidebar-footer {
    padding: 1rem;
    text-align: center;
    flex-shrink: 0;
}

.post-btn {
    width: 100%;
}